
* {

  box-sizing: border-box;
  margin:0;
  padding:0;
  background-color: rgb(86, 102, 146);
}

li a{

  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  color:white;
  text-decoration: none;

}

header{
display:flex;
justify-content:space-around;
align-items:center;
padding:10px 1%;

}

.logo{
  cursor:pointer;
  
  }

.nav_links li{
display:flex;
display:inline-block;
list-style: none;
padding: 10px 20px 20px 15px;

}

.nav_links li a {
 transition: all 0.3s ease 0s;
}

.nav_links li a:hover{

color: rgb(1, 1, 17);
font-size:14pt;
}

/*
.cta{
  order:3;
}
*/
.sidebar {
  font-size:14px;
  display:flex;
  flex-direction:column;
  padding-top:30px;
  padding-left:60px;
  padding-right:100px;
justify-content:left;
color:yellowgreen;
}

.sidebar h1{
  color:beige;
  padding:0px,0px,50px,0px
   
}
.sidebar p{
  font-size:18px;
}
.sidebar h3{
  color:orange;
  padding:0px,0px,50px,0px
   
}


.foot{
  margin-top:90px;
  align-items:bottom;
  display:inline-flex;
  padding-left:50px;
  color:white;
  }

  .main_header{
    color:greenyellow;
   }
   
   nav{
    background-color:rgb(219, 78, 149);
    }
   